<ion-view title="">
	<ion-content class="has-header sign-in">
		<div class="main-container col col-90">
			<div class="logo"></div>
			<div class="title-container">
				Sign Up
			</div>
			<form ng-submit="signup()">
				<div class="form-container list">
					<label class="item item-input">
						<input type="email" placeholder="Email Address" ng-model="user.email" required>
					</label>
					<label class="item item-input">
						<input type="password" placeholder="Password" ng-model="user.password" required>
					</label>
					<label class="item item-input">
						<input type="password" placeholder="Confirm Password" ng-model="user.cfmPassword" required>
					</label>
				</div>
				<button type="submit" class="button button-block button-positive">Sign Up</button>
			</form>
		</div>
	</ion-content>
</ion-view>


