
.prelogin{
	background-color: #4fb4fa;
	.main-container{
		margin:0 auto;
		text-align: center;
		.title-container{
			margin-top: 5px;
			font-size: 28px;
			line-height: 36px;
			font-weight: 700;
		}
	}
}
.sign-up{
	float:left;
}
.forgot-pwd{
	float:right;
}